.color-button {
  padding: 0;
  min-height: 44px;
  min-width: 44px;
  padding: 1px;
  background-clip: content-box;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 1px @borders;
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}

.color-follow {
  background-image: linear-gradient(to bottom right, #fff 49.99%, #202020 50.01%);
}

.color-follow:checked {
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}

.color-light {
  background-color: #FFFFFF;
}

.color-light:checked {
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}

.color-dark {
  background-color: #202020;

}
.color-dark:checked {
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}

checkbutton radio {
  -gtk-icon-source: none;
  border: none;
  background: none;
  box-shadow: none;
  min-width: 12px;
  min-height: 12px;
  transform: translate(27px, 14px);
  padding: 2px;
}

checkbutton radio:checked {
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

